@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color:#fff;
$accent-color:#65e496;
$bg-light-color:#f5f6fa;
$bg-dark-color:#44444f;
$paragraph-color:#696980;
$gray-color: #9191b5;


/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:15px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
    font-family: 'Roboto Slab', serif;
    line-height: 24px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

p {
    color: $paragraph-color;
    letter-spacing: 0.75px;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-main {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 160px;
}

.page {
   padding: 160px 0;
   position: relative; 
   &_gray {
       background-color: $bg-light-color;
   }
   &__title {
       font-size: 48px;
       text-align: center;
       margin-bottom: 25px;
       font-weight: 700;
       letter-spacing: 1.92px;
   }
   &__subtitle {
       font-size: 18px;
       color: $accent-color;
       text-align: center;
       letter-spacing: 0.9px;
       margin-bottom: 85px;
   }
   &__btn {
        font-size: 18px;
        letter-spacing: 0.72px;
        text-align: center;
        padding: 17px 0;
        color: $light-color;
        background: linear-gradient(to left, rgb(101, 228, 206) 0%, rgb(101, 228, 161) 100%);
        box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
        border-radius: 3px;
        transition: 0.3s;
        &:hover {
            transform: scale(1.05);
        }
   }
   &__svg {
       position: absolute;
       top: 0;
       width: 100%;
       z-index: -1;
   }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 15px 180px 15px;
    @media (max-width:900px) {
        flex-direction: column;
    }
    &__logo {
        display: block;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
        width: 137px;
        height: 28px;
    }
    &-list {
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', sans-serif;
        &__item {
            margin-left: 22px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            &:hover {
                border-bottom: 3px solid $accent-color;  
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            color: $light-color;
            letter-spacing: 0.8px;
            font-size: 16px;
        }
    }
}

.block-text {
    flex-basis: calc(93% - 500px);
    &__name {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 44px;
        letter-spacing: 0.9px;
        margin-bottom: 20px;
        color: $light-color;
    }
    &__name_top {
        margin-top: 15px;
        color: $paragraph-color;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.92px;
        line-height: 44px;
        margin-bottom: 25px;
        span {
           display: block; 
           color: $accent-color;
           font-size: 18px;
           letter-spacing: 0.9px;
           margin-top: 10px;
        }
    }
    &__description {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        letter-spacing: 0.75px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    &__description_white {
        color: $light-color;
    }
    &__btn {
       display: block;
       background: linear-gradient(to left, rgb(101, 228, 206) 0%, rgb(101, 228, 161) 100%); 
       color: $light-color;
       max-width: 250px;
       text-align: center;
       letter-spacing: 0.72px;
       border-radius: 3px;
       box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
       margin-top: 48px;
       margin-bottom: 20px;
       padding: 14px 0;
       transition: 0.3s;
       &:hover {
            transform: scale(1.05);
       }  
    }
    small {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-style: italic;
        letter-spacing: 0.6px;
    }
    &-item {
        margin-bottom: 45px;
        &__date {
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 13px;
        }
        &__title {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.9px;
            margin-bottom: 23px;
        }
        &__desc {
            font-family: 'Open Sans', sans-serif;
            line-height: 24px;
            margin-bottom: 45px;
        }
        &__btn {
            display: block;
            background: linear-gradient(to left, rgb(101, 228, 206) 0%, rgb(101, 228, 161) 100%); 
            color: $light-color;
            font-size: 18px;
            max-width: 137px;
            text-align: center;
            letter-spacing: 0.72px;
            border-radius: 3px;
            box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
            padding: 15px 0;
            transition: 0.3s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
.block-book {
    display: flex;
    justify-content: flex-start;
    @media (max-width:750px) {
        flex-direction: column;
    }
    &-demo {
        display: block;
        position: relative;
        background-image: url(../img/book.svg);
        background-repeat: no-repeat;
        width: 445px;
        height: 639px;
        flex-basis: 500px;
        &__title {
            position: absolute;
            top: 117px;
            left: 50%;
            transform: translate(-53%);
            font-size: 36px;
            font-weight: 700;
            letter-spacing: 1.44px;
            text-transform: uppercase;
            span {
                display: block;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.7px;
                line-height: 24px;
                color: $accent-color;
                text-transform: initial;
                margin-top: 10px;
            }
        }
        &__author {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            letter-spacing: 0.7px;
            line-height: 24px;
            color: $accent-color;
            position: absolute;
            bottom: 52px;
            left: 88px;
        }
    }
}
.block-author {
    display: flex;
    justify-content: space-between;
    @media (max-width:1000px) {
        flex-direction: column;
    }
}
.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        right: 0;
        z-index: -1;
        @media (max-width: 1000px) {
            width: 300px;
            height: 412px;
        }
    }
    &__svg--left {
       right: initial; 
       left: 0;
    }
    &__img {
        margin: 45px 45px 0 0;
        @media (max-width: 1000px) {
            width: 300px;
        }
    }
    &__img--left{
        margin: 49px 0 0 45px;
    }
}
.block-counter {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    @media (max-width:750px) {
        flex-direction: column;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.72px;
        line-height: 44px;
        @media (max-width:750px) {
            margin-bottom: 80px;
        }
        span {
            font-family: 'Roboto Slab', serif;
            display: block;
            font-size: 80px;
            letter-spacing: 3.2px;
            font-weight: 100;
            color: $accent-color;
            margin-bottom: 12px;
        };
    }
}

.block-about {
    display: flex;
    justify-content: space-between;
    h3 {
        margin-bottom: 20px;
        letter-spacing: 1.2px;
    }
    &-text {
        flex-basis: 41%;
        &__desc {
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 0.75px;  
        }
        &-featured {
            display: flex;
            justify-content: flex-start;
            margin-top: 35px;
            &__title {
                font-size: 18px;
                font-weight: 700;
                margin-right: 25px;
            }
            &-list {
                display: flex;
                justify-content: space-between;
                li {
                    font-size: 18px;
                    vertical-align: middle;
                    margin-right: 15px;
                    &>a {
                        color: $accent-color;
                    }
                }
            }
        }
    }
    &-table {
        flex-basis: 49%;
        &_list {
            counter-reset: list;
            -moz-column-count: 2;
                 column-count: 2;
            &>li {
                position: relative;
                padding-left: 37px;
                counter-increment: list;
                list-style-type: none;
                margin-bottom: 8px;
                letter-spacing: 0.75px;
                &::before {
                    content: counter(list) ". ";
                }
                &::after {
                    content: "+";
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                    line-height: 15px;
                    position: absolute;
                    left: 0;
                    top: 1px;
                    color: $light-color;
                    background-color: #5fc9b9;
                    padding: 4px 7px;
                }
            }
        }
        button {
            font-size: 18px;
            letter-spacing: 0.72px;
            padding: 17px 45px;
            color: $light-color;
            background: linear-gradient(to left, rgb(101, 228, 206) 0%, rgb(101, 228, 161) 100%);
            box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
            border-radius: 3px;
            margin-top: 55px;
            transition: 0.3s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.block-books {
    display: flex;
    justify-content: space-between;
    text-align: center;
    &-item {
        max-width: 311px;
        &-cover {
            background-image: url(../img/book-min.svg);
            background-repeat: no-repeat;
            width: 269px;
            height: 409px;
            margin: 0 auto 37px;
            position: relative;
            &__title {
                position: absolute;
                top: 70px;
                left: 50%;
                width: 155px;
                transform: translate(-39%);
                font-size: 24px;
                font-weight: 700;
                letter-spacing: 0.96px;
                text-transform: uppercase;
                color: $light-color;
                span {
                    display: block;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: 0.6px;
                    line-height: 24px;
                    color: $accent-color;
                    text-transform: initial;
                    margin-top: 10px;
                }
            }
            &__author {
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                letter-spacing: 0.6px;
                line-height: 24px;
                color: $accent-color;
                position: absolute;
                bottom: 27px;
                left: 79px;
            }
        }
        h3 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 30px;
        }
        &__more {
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            text-transform: uppercase;
            color: $accent-color;
            font-weight: 700;
        }
    }
}

.btn_all {
    display: block;
    margin: 105px auto 0;
    width: 220px;
}

.block-blog {
    display: flex;
    justify-content: space-between;
    &-item {
        max-width: 369px;
        &-img {
            width: 369px;
            height: 224px;
            overflow: hidden;
            position: relative;
            margin-bottom: 21px;
            img {
                width: 369px;
                height: 224px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -o-object-fit: cover;
                   object-fit: cover;
            }
        }
        h4 {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.9px;
            margin-bottom: 10px;
        }
        &-info {
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 20px;
            a {
                color: $accent-color;
            }
        }
        &__desc {
            font-family: 'Open Sans', sans-serif;
            line-height: 24px; 
        }
    }
    & + .page__btn {
        display: block;
        margin: 102px auto 0;
        max-width: 290px;
    }
}

.block-letter {
    display: flex;
    justify-content: space-between;
    &-item {
        flex-basis: 49%;
    }
    &__title {
        font-size: 48px;
        margin-bottom: 25px;
        font-weight: 700;
        letter-spacing: 1.92px;
        margin-bottom: 25px;
    }
    &__text {
        font-family: 'Open Sans', sans-serif;
    }
    &__input {
        width: 100%;
        background-color: $bg-dark-color;
        color: $gray-color;
        padding: 15px 28px;
        border-radius: 3px;
        &::-webkit-input-placeholder {color: $gray-color;}
        &::-moz-placeholder          {color: $gray-color;}
        &:-moz-placeholder           {color: $gray-color;}
        &:-ms-input-placeholder      {color: $gray-color;}
    }
    &__btn {
        display: block;
        background: linear-gradient(to left, rgb(101, 228, 206) 0%, rgb(101, 228, 161) 100%); 
        color: $light-color;
        font-size: 18px;
        width: 100%;
        text-align: center;
        letter-spacing: 0.72px;
        border-radius: 3px;
        box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
        padding: 15px 0;
        margin-top: 20px;
        transition: 0.3s;
        &:hover {
            transform: scale(1.05);
        }
    }
}

.footer {
    background-color: $bg-dark-color;
    padding: 100px 0 100px;
}

.block-footer {
    display: flex;
    justify-content: space-between;
    &>div {
        flex-basis: 30%;
    }
    &-item {
        &__logo {
            display: block;
            background-image: url(../img/footer-logo.svg);
            width: 137px;
            height: 28px;
            margin-bottom: 35px;
        }
        &__text {
            color: $gray-color;
            margin-bottom: 30px;
        }
        &__title {
            font-size: 18px;
            font-weight: 700;
            color: $accent-color;
            letter-spacing: 0.72px;
            margin-bottom: 30px;
        }
        &-list>li {
            margin-bottom: 15px;
            a {
                color: $gray-color;
            }
        }   
        &-social {
            display: flex;
            &>li {
                margin-right: 10px;
                &>a {
                    color: $accent-color;
                }
            }
        }
    }
}

.block-carousel {
    text-align: center;
    h3 {
        color: $accent-color;
        margin-bottom: 9px;
    }
    p {
        color: $gray-color;
        font-family: 'Open Sans', sans-serif;
        max-width: 760px;
        margin: 0 auto 40px;
    }
    &-ava {
        position: relative;
        width: 152px;
        height: 152px;
        display: block;
        margin: 0 auto 27px;
    }
    &__bq {
        position: absolute;
        display: block;
        background-image: url(../img/bq.png);
        background-repeat: no-repeat;
        width: 48px;
        height: 42px;
        top: 0;
        right: -15px;
    }
    &-thumb {
        display: block;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        width: 152px;
        height: 152px;
        border-radius: 50%;
        img {
            width: 152px;
            height: 152px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -o-object-fit: cover;
               object-fit: cover;
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    &>li {
        margin: 0 5px;
        &>button {
            text-indent: -9999px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $accent-color;
            transition: 0.3s;
        }
    }
    &>li.slick-active {
        &>button {
            width: 37px;
            border-radius: 4px;
        }
    }
}